# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

In [2]:
import pandas as pd
import numpy as np

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [2]:
df = pd.read_csv('sp500hst.txt', sep=',', header=None, names = ["date", "ticker", "open", "high", "low", "close", "volume"])
df

            date ticker   open     high     low  close  volume
0       20090821      A  25.60  25.6100  25.220  25.55   34758
1       20090824      A  25.64  25.7400  25.330  25.50   22247
2       20090825      A  25.50  25.7000  25.225  25.34   30891
3       20090826      A  25.32  25.6425  25.145  25.48   33334
4       20090827      A  25.50  25.5700  25.230  25.54   70176
...          ...    ...    ...      ...     ...    ...     ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [3]:
print(df['high'].mean())
print(df['low'].mean())
print(df['close'].mean())
print(df['volume'].mean())

43.10224338767034
42.054463665213184
42.60186484817329
81395.06813843067

In [4]:
df[['open', 'high', 'low', 'close', 'volume']].iloc[3:7].mean(axis=0)

open         25.485000
high         25.750625
low          25.328750
close        25.632500
volume    48567.000000
dtype: float64

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [5]:
s = pd.to_datetime(df['date'], format='%Y%m%d').dt.month
# pd.merge(df, s, how='inner')
df['month']=s

In [6]:
df

            date ticker   open     high     low  close  volume  month
0       20090821      A  25.60  25.6100  25.220  25.55   34758      8
1       20090824      A  25.64  25.7400  25.330  25.50   22247      8
2       20090825      A  25.50  25.7000  25.225  25.34   30891      8
3       20090826      A  25.32  25.6425  25.145  25.48   33334      8
4       20090827      A  25.50  25.5700  25.230  25.54   70176      8
...          ...    ...    ...      ...     ...    ...     ...    ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561      8
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489      8
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498      8
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259      8
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792      8

[122574 rows x 8 columns]

In [7]:
# строки в нижний регистр
df['ticker'].str.lower()

0           a
1           a
2           a
3           a
4           a
         ...
122569    zmh
122570    zmh
122571    zmh
122572    zmh
122573    zmh
Name: ticker, Length: 122574, dtype: object

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [8]:
df.groupby('ticker')['volume'].sum()

ticker
A        8609336
AA      81898998
AAPL    52261170
ABC      9006756
ABT     18975870
          ...
XTO     21297931
YHOO    56837171
YUM     10971538
ZION    15551119
ZMH      4938916
Name: volume, Length: 524, dtype: int64

In [9]:
# тикер это знач тикера, а сами цифры это сумма по sum

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [2]:
import pandas as pd

In [3]:
sp = pd.read_csv('./data/sp_data2.csv', sep=';', names=['ticker','company','процент'], header=None)
sp

    ticker          company процент
0     AAPL            Apple    3.6%
1     AMZN       Amazon.com    3.2%
2    GOOGL         Alphabet    3.1%
3     GOOG         Alphabet    3.1%
4     MSFT        Microsoft    3.0%
..     ...              ...     ...
500    SCG            SCANA    0.0%
501    AIZ         Assurant    0.0%
502    AYI    Acuity Brands    0.0%
503    HRB        H&R Block    0.0%
504    RRC  Range Resources    0.0%

[505 rows x 3 columns]

In [10]:
sp = pd.read_csv('./data/sp_data2.csv', sep=';', names=['ticker','company','процент'], header=None)
pd.merge(df, sp, how='inner', left_on='ticker', right_on='ticker')

,date,ticker,open,high,low,close,volume,month,company,процент
0,20090821,A,25.60,25.6100,25.220,25.55,34758,8,Agilent Technologies,0.1%
1,20090824,A,25.64,25.7400,25.330,25.50,22247,8,Agilent Technologies,0.1%
2,20090825,A,25.50,25.7000,25.225,25.34,30891,8,Agilent Technologies,0.1%
3,20090826,A,25.32,25.6425,25.145,25.48,33334,8,Agilent Technologies,0.1%
4,20090827,A,25.50,25.5700,25.230,25.54,70176,8,Agilent Technologies,0.1%
...,...,...,...,...,...,...,...,...,...,...
82167,20100813,ZION,20.17,20.4300,19.840,19.89,25193,8,Zions Bancorp,0.0%
82168,20100816,ZION,19.81,19.9600,19.600,19.95,25914,8,Zions Bancorp,0.0%
82169,20100817,ZION,20.07,20.4700,19.830,20.31,31717,8,Zions Bancorp,0.0%
82170,20100819,ZION,19.83,20.0000,19.130,19.35,45935,8,Zions Bancorp,0.0%
82171,20100820,ZION,19.15,19.2700,18.810,19.14,37225,8,Zions Bancorp,0.0%

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца(ов) с индексами.

In [3]:
recipes = pd.read_csv('./data/recipes_sample.csv', sep=',')
reviews = pd.read_csv('./data/reviews_sample.csv', sep=',', index_col=0)
reviews

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [4]:
reviews.groupby('rating')['rating'].count()

rating
0     6805
1     1401
2     1628
3     4635
4    20866
5    91361
Name: rating, dtype: int64

In [ ]:
reviews['rating']

In [12]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [13]:
print(recipes.shape[0])
print(recipes.shape[1])
print(recipes.dtypes)

30000
8
name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

In [14]:
print(reviews.shape[0])
print(reviews.shape[1])
print(reviews.dtypes)

126696
5
user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [15]:
ч.sum()/recipes.count()

name              0.000000
id                0.000000
minutes           0.000000
contributor_id    0.000000
submitted         0.000000
n_steps           0.594896
description       0.021207
n_ingredients     0.420455
dtype: float64

In [16]:
reviews.isna().sum()/reviews.count()

user_id      0.000000
recipe_id    0.000000
date         0.000000
rating       0.000000
review       0.000134
dtype: float64

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [17]:
recipes.mean()

In [18]:
# reviews.mean()

1.5 Создайте серию из 10 случайных названий рецептов.

In [19]:
pd.Series(recipes.sample(n=10)['name'])

29708                       you must be  tandoori  nuts
16334              local fireman chicken barbecue sauce
6447            chocolate blackberry breakfast smoothie
23690    schnitz und knepp   dried apples and dumplings
4986                            celestial sugar cookies
9358                                desperation dessert
25169                         special marble fudge cake
7163                   classic banana bread with yogurt
4792                            carolina bbq gold sauce
11675                     fume salad ramen noodle salad
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [47]:
reviews.reset_index(drop=True)
# reviews.index = np.arange(0, len(reviews))

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [23]:
recipes[(recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

 2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [49]:
pd.to_datetime(recipes['submitted'], format='%Y-%m-%d')

0       2002-10-25
1       2003-07-26
2       2002-08-29
3       2002-07-27
4       2004-02-23
           ...
29995   2007-11-25
29996   2009-08-24
29997   2004-11-03
29998   2012-08-29
29999   2008-04-15
Name: submitted, Length: 30000, dtype: datetime64[ns]

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [53]:
recipes[recipes['submitted'] < '2010-01-01']

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count,year_
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,37,2002
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,34,2003
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,28,2002
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,20,2002
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,40,2004
...,...,...,...,...,...,...,...,...,...,...,...
29993,Zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0,298.0,25,2008
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,44,2007
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,36,2009
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,43,2004
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,38,2008

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [26]:
recipes['description_length'] = (recipes.description.str.len()) 
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [27]:
recipes['name'] = recipes['name'].str.capitalize()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами).

In [28]:
recipes['name_word_count'] = (recipes.name.str.len()) 
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,37
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,34
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,28
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,20
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,40
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,44
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,36
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,43
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,11
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,38

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [29]:
x = recipes.groupby('contributor_id', as_index=False)['id'].count()
x.loc[x['id'].idxmax()]

contributor_id    89831
id                  421
Name: 1768, dtype: int64

In [30]:
x

      contributor_id   id
0               1530    5
1               1533  186
2               1534   50
3               1535   40
4               1538    8
...              ...  ...
8399      2001968497    2
8400      2002059754    1
8401      2002234079    1
8402      2002234259    1
8403      2002247884    1

[8404 rows x 2 columns]

In [31]:
max(recipes.groupby('contributor_id')['id'].count())

421

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы?

In [32]:
reviews.groupby('recipe_id')['rating'].agg(['mean'])

               mean
recipe_id
48         1.000000
55         4.750000
66         4.944444
91         4.750000
94         5.000000
...             ...
536547     5.000000
536610     0.000000
536728     4.000000
536729     4.750000
536747     0.000000

[28100 rows x 1 columns]

In [33]:
reviews[reviews.isnull().any(axis=1)].count()

user_id      17
recipe_id    17
date         17
rating       17
review        0
dtype: int64

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [34]:
recipes['year_'] = pd.to_datetime(recipes['submitted']).dt.strftime('%Y') # берём только год
recipes.groupby(["year_"])["id"].count()

year_
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: id, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты без отзывов должны отсутствовать в данной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и выведя на экран строку из полученного `DataFrame`, содержащую информацию об этом отзыве.

In [35]:
mr = pd.merge(recipes, reviews.dropna(), how='inner', left_on='id', right_on='recipe_id')
mr.drop(['minutes', 'contributor_id', 'submitted', 'description',
               'n_steps', 'n_ingredients', 'description_length', 'recipe_id',
               'name_word_count', 'date', 'review'],  axis=1, inplace=True)

mr = mr.reindex(['id', 'name', 'user_id', 'rating'], axis=1)
mr

            id                                    name  user_id  rating
0        44123   George s at the cove  black bean soup   743566       5
1        44123   George s at the cove  black bean soup    76503       5
2        44123   George s at the cove  black bean soup    34206       5
3        67664      Healthy for them  yogurt popsicles   494084       5
4        67664      Healthy for them  yogurt popsicles   303445       5
...        ...                                     ...      ...     ...
126674  486161                             Zydeco soup   305531       5
126675  486161                             Zydeco soup  1271506       5
126676  486161                             Zydeco soup   724631       5
126677  486161                             Zydeco soup   133174       5
126678  298512  Cookies by design   cookies on a stick   804234       1

[126679 rows x 4 columns]

In [36]:
# Находим NaN
reviews[pd.isna(reviews).any(axis=1)]

           user_id  recipe_id        date  rating review
8881    2001567544       9054  2017-06-03       5    NaN
12129   2002120930     167202  2018-04-18       4    NaN
18578   2001508809       9054  2017-04-26       5    NaN
21913   2001959957     335709  2018-01-28       5    NaN
33232   2002299388      15553  2018-10-13       4    NaN
42783   2002060663     107786  2018-03-18       5    NaN
42855   2001346906     522925  2017-01-11       4    NaN
43551   1800574364     391660  2018-08-22       5    NaN
53998   2002005298     245231  2018-02-22       5    NaN
55100   2001826405       9054  2017-11-26       5    NaN
56197   2001658714     155430  2017-08-05       5    NaN
59803   2002252901      25190  2018-08-29       5    NaN
67973   2001779476       3662  2017-11-05       4    NaN
71067   2001785348     524744  2017-11-26       5    NaN
96199   2002057405      89207  2018-03-17       5    NaN
105206  2001380233     128956  2017-02-05       5    NaN
109590  1803237930      86868  2018-03-20       5    NaN

In [ ]:
rating.

In [37]:
# Проверяем, что null нет
mr[mr.id == 388773]

           id                              name  user_id  rating
28215  388773  Chocolate cherry sourdough bread  2849249       5

In [38]:
# Проверяем id 9054 - отзыв существующий
mr[(mr.id == 9054) & (mr.user_id == 2002151127)]

         id                             name     user_id  rating
70453  9054  Leftover mashed potato pancakes  2002151127       5

In [39]:
# Проверяем id 9054 - отзыв несуществующий
mr[(mr.id == 9054) & (mr.user_id == 2001567544)]

Empty DataFrame
Columns: [id, name, user_id, rating]
Index: []

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`. У рецептов, для которых отсутствуют отзывы, в соответствущем столбце должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и выведя на экран строку из полученного `DataFrame`, содержащую информацию об этом отзыве.

In [40]:
mr2 = pd.merge(recipes, reviews, how='right', left_on='id', right_on='recipe_id')
mr2.drop(['minutes', 'id', 'minutes', 'contributor_id', 'submitted',
               'n_steps', 'n_ingredients', 'description_length', 'user_id',
               'name_word_count', 'date', 'review', 'rating', 'year_'],  axis=1, inplace=True)
mr2

,name,description,recipe_id
0,George s at the cove black bean soup,an original recipe created by chef scott meska...,44123
1,George s at the cove black bean soup,an original recipe created by chef scott meska...,44123
2,George s at the cove black bean soup,an original recipe created by chef scott meska...,44123
3,Healthy for them yogurt popsicles,my children and their friends ask for my homem...,67664
4,Healthy for them yogurt popsicles,my children and their friends ask for my homem...,67664
...,...,...,...
126691,Zydeco soup,this is a delicious soup that i originally fou...,486161
126692,Zydeco soup,this is a delicious soup that i originally fou...,486161
126693,Zydeco soup,this is a delicious soup that i originally fou...,486161
126694,Zydeco soup,this is a delicious soup that i originally fou...,486161
126695,Cookies by design cookies on a stick,"i've heard of the 'cookies by design' company,...",298512

In [41]:
mr3 = pd.merge(mr2, mr2.groupby('recipe_id')['description'].count(), 
                       how='left', left_on='recipe_id', right_on='recipe_id')
mr3.drop_duplicates('name', inplace=True)
mr3.drop('description_x',  axis=1, inplace=True)
mr3.rename(columns={'description_y': 'review_count'}, inplace=True)
mr3.reset_index(drop=True, inplace=True)

mr3 = mr3.reindex(['recipe_id', 'name', 'review_count'], axis=1)

mr3

       recipe_id                                          name  review_count
0          44123         George s at the cove  black bean soup             3
1          67664            Healthy for them  yogurt popsicles             8
2          38798                  I can t believe it s spinach             3
3          35173                          Italian  gut busters             1
4          84797      Love is in the air  beef fondue   sauces             8
...          ...                                           ...           ...
28073     267661  Zurie s holey rustic olive and cheddar bread             4
28074     386977          Zwetschgenkuchen  bavarian plum cake             2
28075     103312   Zwiebelkuchen   southwest german onion cake             6
28076     486161                                   Zydeco soup             6
28077     298512        Cookies by design   cookies on a stick             1

[28078 rows x 3 columns]

5.3. Выясните, отзывы, добавленные в каком году, имеют наименьший средний рейтинг?

In [42]:
reviews.groupby(pd.to_datetime(reviews['date']).dt.year).mean()['rating'].min()

3.3530416951469584

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [43]:
recipes[:5] # recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count,year_
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,37,2002
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,34,2003
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,28,2002
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,20,2002
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,40,2004

In [44]:
recipes.sort_values(by='name_word_count', ascending=False).to_csv('result.csv')

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [45]:
with pd.ExcelWriter("result_2.xlsx") as writer:
    mr.to_excel(writer, sheet_name="Рецепты с оценками")
    mr3.to_excel(writer, sheet_name="Количество отзывов по рецептам")

In [55]:
rol = pd.read_csv('rolandgarros.csv', sep=',')
rol

,Year,Champion,Seed_Champion,Ctry_Champion,Runner-up,Seed_Runner-up,Ctry_Runner-up,Score in the Final
0,1968,Ken Rosewall,2,AUS,Rod Laver,1,AUS,"6–3, 6–1, 2–6, 6–2"
1,1969,Rod Laver,1,AUS,Ken Rosewall,4,AUS,"6–4, 6–3, 6–4"
2,1970,Jan Kodeš,7,TCH,Željko Franulović,5,YUG,"6–2, 6–4, 6–0"
3,1971,Jan Kodeš,1,TCH,Ilie Năstase,3,ROU,"8–6, 6–2, 2–6, 7–5"
4,1972,Andrés Gimeno,6,ESP,Patrick Proisy,9,FRA,"4–6, 6–3, 6–1, 6–1"
5,1973,Ilie Năstase,2,ROU,Nikola Pilić,0,YUG,"6–3, 6–3, 6–0"
6,1974,Björn Borg,3,SWE,Manuel Orantes,14,ESP,"2–6, 6–7(1–7), 6–0, 6–1, 6–1"
7,1975,Björn Borg,1,SWE,Guillermo Vilas,4,ARG,"6–2, 6–3, 6–4"
8,1976,Adriano Panatta,8,ITA,Harold Solomon,7,USA,"6–1, 6–4, 4–6, 7–6(7–3)"
9,1977,Guillermo Vilas,3,ARG,Brian Gottfried,5,USA,"6–0, 6–3, 6–0"
10,1978,Björn Borg,1,SWE,Guillermo Vilas,2,ARG,"6–1, 6–1, 6–3"
11,1979,Björn Borg,1,SWE,Víctor Pecci,0,PAR,"6–3, 6–1, 6–7(6–8), 6–4"
12,1980,Björn Borg,1,SWE,Vitas Gerulaitis,5,USA,"6–4, 6–1, 6–2"
13,1981,Björn Borg,1,SWE,Ivan Lendl,5,TCH,"6–1, 4–6, 6–2, 3–6, 6–1"
14,1982,Mats Wilander,0,SWE,Guillermo Vilas,3,ARG,"1–6, 7–6(8–6), 6–0, 6–4"
15,1983,Yannick Noah,6,FRA,Mats Wilander,5,SWE,"6–2, 7–5, 7–6(7–3)"
16,1984,Ivan Lendl,2,TCH,John McEnroe,1,USA,"3–6, 2–6, 6–4, 7–5, 7–5"
17,1985,Mats Wilander,4,SWE,Ivan Lendl,2,TCH,"3–6, 6–4, 6–2, 6–2"
18,1986,Ivan Lendl,1,TCH,Mikael Pernfors,0,SWE,"6–3, 6–2, 6–4"
19,1987,Ivan Lendl,1,TCH,Mats Wilander,4,SWE,"7–5, 6–2, 3–6, 7–6(7–3)"
20,1988,Mats Wilander,3,SWE,Henri Leconte,1,FRA,"7–5, 6–2, 6–1"
21,1989,Michael Chang,15,USA,Stefan Edberg,3,SWE,"6–1, 3–6, 4–6, 6–4, 6–2"
22,1990,Andrés Gómez,4,ECU,Andre Agassi,3,USA,"6–3, 2–6, 6–4, 6–4"
23,1991,Jim Courier,9,USA,Andre Agassi,4,USA,"3–6, 6–4, 2–6, 6–1, 6–4"
24,1992,Jim Courier,1,USA,Petr Korda,7,TCH,"7–5, 6–2, 6–1"
25,1993,Sergi Bruguera,10,ESP,Jim Courier,2,USA,"6–4, 2–6, 6–2, 3–6, 6–3"
26,1994,Sergi Bruguera,6,ESP,Alberto Berasategui,0,ESP,"6–3, 7–5, 2–6, 6–1"
27,1995,Thomas Muster,5,AUT,Michael Chang,6,USA,"7–5, 6–2, 6–4"
28,1996,Yevgeny Kafelnikov,6,RUS,Michael Stich,15,GER,"7–6(7–4), 7–5, 7–6(7–4)"
29,1997,Gustavo Kuerten,0,BRA,Sergi Bruguera,16,ESP,"6–3, 6–4, 6–2"
30,1998,Carlos Moyá,12,ESP,Àlex Corretja,14,ESP,"6–3, 7–5, 6–3"
31,1999,Andre Agassi,13,USA,Andrei Medvedev,0,UKR,"1–6, 2–6, 6–4, 6–3, 6–4"
32,2000,Gustavo Kuerten,5,BRA,Magnus Norman,3,SWE,"6–2, 6–3, 2–6, 7–6(8–6)"
33,2001,Gustavo Kuerten,1,BRA,Àlex Corretja,13,ESP,"6–7(3–7), 7–5, 6–2, 6–0"
34,2002,Albert Costa,20,ESP,Juan Carlos Ferrero,11,ESP,"6–1, 6–0, 4–6, 6–3"
35,2003,Juan Carlos Ferrero,3,ESP,Martin Verkerk,0,NED,"6–1, 6–3, 6–2"
36,2004,Gastón Gaudio,0,ARG,Guillermo Coria,3,ARG,"0–6, 3–6, 6–4, 6–1, 8–6"
37,2005,Rafael Nadal,4,ESP,Mariano Puerta,0,ARG,"6–7(6–8), 6–3, 6–1, 7–5"
38,2006,Rafael Nadal,2,ESP,Roger Federer,1,SUI,"1–6, 6–1, 6–4, 7–6(7–4)"
39,2007,Rafael Nadal,2,ESP,Roger Federer,1,SUI,"6–3, 4–6, 6–3, 6–4"
40,2008,Rafael Nadal,2,ESP,Roger Federer,1,SUI,"6–1, 6–3, 6–0"
41,2009,Roger Federer,2,SUI,Robin Söderling,23,SWE,"6–1, 7–6(7–1), 6–4"
42,2010,Rafael Nadal,2,ESP,Robin Söderling,5,SWE,"6–4, 6–2, 6–4"
43,2011,Rafael Nadal,1,ESP,Roger Federer,3,SUI,"7–5, 7–6(7–3), 5–7, 6–1"
44,2012,Rafael Nadal,2,ESP,Novak Djokovic,1,SRB,"6–4, 6–3, 2–6, 7–5"
45,2013,Rafael Nadal,3,ESP,David Ferrer,4,ESP,"6–3, 6–2, 6–3"
46,2014,Rafael Nadal,1,ESP,Novak Djokovic,2,SRB,"3–6, 7–5, 6–2, 6–4"
47,2015,Stan Wawrinka,8,SUI,Novak Djokovic,1,SRB,"4–6, 6–4, 6–3, 6–4"
48,2016,Novak Djokovic,1,SRB,Andy Murray,2,GBR,"3–6, 6–1, 6–2, 6–4"
49,2017,Rafael Nadal,4,ESP,Stan Wawrinka,3,SUI,"6–2, 6–3, 6–1"
50,2018,Rafael Nadal,1,ESP,Dominic Thiem,7,AUT,"6-4, 6-3, 6-2"
51,2019,Rafael Nadal,2,ESP,Dominic Thiem,4,AUT,"6-3, 5-7, 6-1, 6-1"
52,2020,Rafael Nadal,2,ESP,Novak Djokovic,1,SRB,"6-0, 6-2, 7-5"

In [47]:
rol['Sets'] = rol['Score in the Final'].str.len()

In [52]:
rol['Sets'] = len(rol['Score in the Final'].str.split(','))

In [53]:
rol

,Year,Champion,Seed_Champion,Ctry_Champion,Runner-up,Seed_Runner-up,Ctry_Runner-up,Score in the Final,Sets
0,1968,Ken Rosewall,2,AUS,Rod Laver,1,AUS,"6–3, 6–1, 2–6, 6–2",53
1,1969,Rod Laver,1,AUS,Ken Rosewall,4,AUS,"6–4, 6–3, 6–4",53
2,1970,Jan Kodeš,7,TCH,Željko Franulović,5,YUG,"6–2, 6–4, 6–0",53
3,1971,Jan Kodeš,1,TCH,Ilie Năstase,3,ROU,"8–6, 6–2, 2–6, 7–5",53
4,1972,Andrés Gimeno,6,ESP,Patrick Proisy,9,FRA,"4–6, 6–3, 6–1, 6–1",53
5,1973,Ilie Năstase,2,ROU,Nikola Pilić,0,YUG,"6–3, 6–3, 6–0",53
6,1974,Björn Borg,3,SWE,Manuel Orantes,14,ESP,"2–6, 6–7(1–7), 6–0, 6–1, 6–1",53
7,1975,Björn Borg,1,SWE,Guillermo Vilas,4,ARG,"6–2, 6–3, 6–4",53
8,1976,Adriano Panatta,8,ITA,Harold Solomon,7,USA,"6–1, 6–4, 4–6, 7–6(7–3)",53
9,1977,Guillermo Vilas,3,ARG,Brian Gottfried,5,USA,"6–0, 6–3, 6–0",53
10,1978,Björn Borg,1,SWE,Guillermo Vilas,2,ARG,"6–1, 6–1, 6–3",53
11,1979,Björn Borg,1,SWE,Víctor Pecci,0,PAR,"6–3, 6–1, 6–7(6–8), 6–4",53
12,1980,Björn Borg,1,SWE,Vitas Gerulaitis,5,USA,"6–4, 6–1, 6–2",53
13,1981,Björn Borg,1,SWE,Ivan Lendl,5,TCH,"6–1, 4–6, 6–2, 3–6, 6–1",53
14,1982,Mats Wilander,0,SWE,Guillermo Vilas,3,ARG,"1–6, 7–6(8–6), 6–0, 6–4",53
15,1983,Yannick Noah,6,FRA,Mats Wilander,5,SWE,"6–2, 7–5, 7–6(7–3)",53
16,1984,Ivan Lendl,2,TCH,John McEnroe,1,USA,"3–6, 2–6, 6–4, 7–5, 7–5",53
17,1985,Mats Wilander,4,SWE,Ivan Lendl,2,TCH,"3–6, 6–4, 6–2, 6–2",53
18,1986,Ivan Lendl,1,TCH,Mikael Pernfors,0,SWE,"6–3, 6–2, 6–4",53
19,1987,Ivan Lendl,1,TCH,Mats Wilander,4,SWE,"7–5, 6–2, 3–6, 7–6(7–3)",53
20,1988,Mats Wilander,3,SWE,Henri Leconte,1,FRA,"7–5, 6–2, 6–1",53
21,1989,Michael Chang,15,USA,Stefan Edberg,3,SWE,"6–1, 3–6, 4–6, 6–4, 6–2",53
22,1990,Andrés Gómez,4,ECU,Andre Agassi,3,USA,"6–3, 2–6, 6–4, 6–4",53
23,1991,Jim Courier,9,USA,Andre Agassi,4,USA,"3–6, 6–4, 2–6, 6–1, 6–4",53
24,1992,Jim Courier,1,USA,Petr Korda,7,TCH,"7–5, 6–2, 6–1",53
25,1993,Sergi Bruguera,10,ESP,Jim Courier,2,USA,"6–4, 2–6, 6–2, 3–6, 6–3",53
26,1994,Sergi Bruguera,6,ESP,Alberto Berasategui,0,ESP,"6–3, 7–5, 2–6, 6–1",53
27,1995,Thomas Muster,5,AUT,Michael Chang,6,USA,"7–5, 6–2, 6–4",53
28,1996,Yevgeny Kafelnikov,6,RUS,Michael Stich,15,GER,"7–6(7–4), 7–5, 7–6(7–4)",53
29,1997,Gustavo Kuerten,0,BRA,Sergi Bruguera,16,ESP,"6–3, 6–4, 6–2",53
30,1998,Carlos Moyá,12,ESP,Àlex Corretja,14,ESP,"6–3, 7–5, 6–3",53
31,1999,Andre Agassi,13,USA,Andrei Medvedev,0,UKR,"1–6, 2–6, 6–4, 6–3, 6–4",53
32,2000,Gustavo Kuerten,5,BRA,Magnus Norman,3,SWE,"6–2, 6–3, 2–6, 7–6(8–6)",53
33,2001,Gustavo Kuerten,1,BRA,Àlex Corretja,13,ESP,"6–7(3–7), 7–5, 6–2, 6–0",53
34,2002,Albert Costa,20,ESP,Juan Carlos Ferrero,11,ESP,"6–1, 6–0, 4–6, 6–3",53
35,2003,Juan Carlos Ferrero,3,ESP,Martin Verkerk,0,NED,"6–1, 6–3, 6–2",53
36,2004,Gastón Gaudio,0,ARG,Guillermo Coria,3,ARG,"0–6, 3–6, 6–4, 6–1, 8–6",53
37,2005,Rafael Nadal,4,ESP,Mariano Puerta,0,ARG,"6–7(6–8), 6–3, 6–1, 7–5",53
38,2006,Rafael Nadal,2,ESP,Roger Federer,1,SUI,"1–6, 6–1, 6–4, 7–6(7–4)",53
39,2007,Rafael Nadal,2,ESP,Roger Federer,1,SUI,"6–3, 4–6, 6–3, 6–4",53
40,2008,Rafael Nadal,2,ESP,Roger Federer,1,SUI,"6–1, 6–3, 6–0",53
41,2009,Roger Federer,2,SUI,Robin Söderling,23,SWE,"6–1, 7–6(7–1), 6–4",53
42,2010,Rafael Nadal,2,ESP,Robin Söderling,5,SWE,"6–4, 6–2, 6–4",53
43,2011,Rafael Nadal,1,ESP,Roger Federer,3,SUI,"7–5, 7–6(7–3), 5–7, 6–1",53
44,2012,Rafael Nadal,2,ESP,Novak Djokovic,1,SRB,"6–4, 6–3, 2–6, 7–5",53
45,2013,Rafael Nadal,3,ESP,David Ferrer,4,ESP,"6–3, 6–2, 6–3",53
46,2014,Rafael Nadal,1,ESP,Novak Djokovic,2,SRB,"3–6, 7–5, 6–2, 6–4",53
47,2015,Stan Wawrinka,8,SUI,Novak Djokovic,1,SRB,"4–6, 6–4, 6–3, 6–4",53
48,2016,Novak Djokovic,1,SRB,Andy Murray,2,GBR,"3–6, 6–1, 6–2, 6–4",53
49,2017,Rafael Nadal,4,ESP,Stan Wawrinka,3,SUI,"6–2, 6–3, 6–1",53
50,2018,Rafael Nadal,1,ESP,Dominic Thiem,7,AUT,"6-4, 6-3, 6-2",53
51,2019,Rafael Nadal,2,ESP,Dominic Thiem,4,AUT,"6-3, 5-7, 6-1, 6-1",53
52,2020,Rafael Nadal,2,ESP,Novak Djokovic,1,SRB,"6-0, 6-2, 7-5",53

In [57]:
rol['Sets1'] = len(rol['Score in the Final'].str.split(','))

In [59]:
rol

,Year,Champion,Seed_Champion,Ctry_Champion,Runner-up,Seed_Runner-up,Ctry_Runner-up,Score in the Final,Sets1
0,1968,Ken Rosewall,2,AUS,Rod Laver,1,AUS,"6–3, 6–1, 2–6, 6–2",53
1,1969,Rod Laver,1,AUS,Ken Rosewall,4,AUS,"6–4, 6–3, 6–4",53
2,1970,Jan Kodeš,7,TCH,Željko Franulović,5,YUG,"6–2, 6–4, 6–0",53
3,1971,Jan Kodeš,1,TCH,Ilie Năstase,3,ROU,"8–6, 6–2, 2–6, 7–5",53
4,1972,Andrés Gimeno,6,ESP,Patrick Proisy,9,FRA,"4–6, 6–3, 6–1, 6–1",53
5,1973,Ilie Năstase,2,ROU,Nikola Pilić,0,YUG,"6–3, 6–3, 6–0",53
6,1974,Björn Borg,3,SWE,Manuel Orantes,14,ESP,"2–6, 6–7(1–7), 6–0, 6–1, 6–1",53
7,1975,Björn Borg,1,SWE,Guillermo Vilas,4,ARG,"6–2, 6–3, 6–4",53
8,1976,Adriano Panatta,8,ITA,Harold Solomon,7,USA,"6–1, 6–4, 4–6, 7–6(7–3)",53
9,1977,Guillermo Vilas,3,ARG,Brian Gottfried,5,USA,"6–0, 6–3, 6–0",53
10,1978,Björn Borg,1,SWE,Guillermo Vilas,2,ARG,"6–1, 6–1, 6–3",53
11,1979,Björn Borg,1,SWE,Víctor Pecci,0,PAR,"6–3, 6–1, 6–7(6–8), 6–4",53
12,1980,Björn Borg,1,SWE,Vitas Gerulaitis,5,USA,"6–4, 6–1, 6–2",53
13,1981,Björn Borg,1,SWE,Ivan Lendl,5,TCH,"6–1, 4–6, 6–2, 3–6, 6–1",53
14,1982,Mats Wilander,0,SWE,Guillermo Vilas,3,ARG,"1–6, 7–6(8–6), 6–0, 6–4",53
15,1983,Yannick Noah,6,FRA,Mats Wilander,5,SWE,"6–2, 7–5, 7–6(7–3)",53
16,1984,Ivan Lendl,2,TCH,John McEnroe,1,USA,"3–6, 2–6, 6–4, 7–5, 7–5",53
17,1985,Mats Wilander,4,SWE,Ivan Lendl,2,TCH,"3–6, 6–4, 6–2, 6–2",53
18,1986,Ivan Lendl,1,TCH,Mikael Pernfors,0,SWE,"6–3, 6–2, 6–4",53
19,1987,Ivan Lendl,1,TCH,Mats Wilander,4,SWE,"7–5, 6–2, 3–6, 7–6(7–3)",53
20,1988,Mats Wilander,3,SWE,Henri Leconte,1,FRA,"7–5, 6–2, 6–1",53
21,1989,Michael Chang,15,USA,Stefan Edberg,3,SWE,"6–1, 3–6, 4–6, 6–4, 6–2",53
22,1990,Andrés Gómez,4,ECU,Andre Agassi,3,USA,"6–3, 2–6, 6–4, 6–4",53
23,1991,Jim Courier,9,USA,Andre Agassi,4,USA,"3–6, 6–4, 2–6, 6–1, 6–4",53
24,1992,Jim Courier,1,USA,Petr Korda,7,TCH,"7–5, 6–2, 6–1",53
25,1993,Sergi Bruguera,10,ESP,Jim Courier,2,USA,"6–4, 2–6, 6–2, 3–6, 6–3",53
26,1994,Sergi Bruguera,6,ESP,Alberto Berasategui,0,ESP,"6–3, 7–5, 2–6, 6–1",53
27,1995,Thomas Muster,5,AUT,Michael Chang,6,USA,"7–5, 6–2, 6–4",53
28,1996,Yevgeny Kafelnikov,6,RUS,Michael Stich,15,GER,"7–6(7–4), 7–5, 7–6(7–4)",53
29,1997,Gustavo Kuerten,0,BRA,Sergi Bruguera,16,ESP,"6–3, 6–4, 6–2",53
30,1998,Carlos Moyá,12,ESP,Àlex Corretja,14,ESP,"6–3, 7–5, 6–3",53
31,1999,Andre Agassi,13,USA,Andrei Medvedev,0,UKR,"1–6, 2–6, 6–4, 6–3, 6–4",53
32,2000,Gustavo Kuerten,5,BRA,Magnus Norman,3,SWE,"6–2, 6–3, 2–6, 7–6(8–6)",53
33,2001,Gustavo Kuerten,1,BRA,Àlex Corretja,13,ESP,"6–7(3–7), 7–5, 6–2, 6–0",53
34,2002,Albert Costa,20,ESP,Juan Carlos Ferrero,11,ESP,"6–1, 6–0, 4–6, 6–3",53
35,2003,Juan Carlos Ferrero,3,ESP,Martin Verkerk,0,NED,"6–1, 6–3, 6–2",53
36,2004,Gastón Gaudio,0,ARG,Guillermo Coria,3,ARG,"0–6, 3–6, 6–4, 6–1, 8–6",53
37,2005,Rafael Nadal,4,ESP,Mariano Puerta,0,ARG,"6–7(6–8), 6–3, 6–1, 7–5",53
38,2006,Rafael Nadal,2,ESP,Roger Federer,1,SUI,"1–6, 6–1, 6–4, 7–6(7–4)",53
39,2007,Rafael Nadal,2,ESP,Roger Federer,1,SUI,"6–3, 4–6, 6–3, 6–4",53
40,2008,Rafael Nadal,2,ESP,Roger Federer,1,SUI,"6–1, 6–3, 6–0",53
41,2009,Roger Federer,2,SUI,Robin Söderling,23,SWE,"6–1, 7–6(7–1), 6–4",53
42,2010,Rafael Nadal,2,ESP,Robin Söderling,5,SWE,"6–4, 6–2, 6–4",53
43,2011,Rafael Nadal,1,ESP,Roger Federer,3,SUI,"7–5, 7–6(7–3), 5–7, 6–1",53
44,2012,Rafael Nadal,2,ESP,Novak Djokovic,1,SRB,"6–4, 6–3, 2–6, 7–5",53
45,2013,Rafael Nadal,3,ESP,David Ferrer,4,ESP,"6–3, 6–2, 6–3",53
46,2014,Rafael Nadal,1,ESP,Novak Djokovic,2,SRB,"3–6, 7–5, 6–2, 6–4",53
47,2015,Stan Wawrinka,8,SUI,Novak Djokovic,1,SRB,"4–6, 6–4, 6–3, 6–4",53
48,2016,Novak Djokovic,1,SRB,Andy Murray,2,GBR,"3–6, 6–1, 6–2, 6–4",53
49,2017,Rafael Nadal,4,ESP,Stan Wawrinka,3,SUI,"6–2, 6–3, 6–1",53
50,2018,Rafael Nadal,1,ESP,Dominic Thiem,7,AUT,"6-4, 6-3, 6-2",53
51,2019,Rafael Nadal,2,ESP,Dominic Thiem,4,AUT,"6-3, 5-7, 6-1, 6-1",53
52,2020,Rafael Nadal,2,ESP,Novak Djokovic,1,SRB,"6-0, 6-2, 7-5",53

In [58]:
rol['Sets'] = rol.Sets1.str.len()

AttributeError: Can only use .str accessor with string values!

In [61]:
rol['Sets1'] = (rol['Score in the Final'].str.split(','))
rol['Sets'] = rol.Sets1.str.len()
rol = rol.drop('Sets1', 1)
rol

,Year,Champion,Seed_Champion,Ctry_Champion,Runner-up,Seed_Runner-up,Ctry_Runner-up,Score in the Final,Sets
0,1968,Ken Rosewall,2,AUS,Rod Laver,1,AUS,"6–3, 6–1, 2–6, 6–2",4
1,1969,Rod Laver,1,AUS,Ken Rosewall,4,AUS,"6–4, 6–3, 6–4",3
2,1970,Jan Kodeš,7,TCH,Željko Franulović,5,YUG,"6–2, 6–4, 6–0",3
3,1971,Jan Kodeš,1,TCH,Ilie Năstase,3,ROU,"8–6, 6–2, 2–6, 7–5",4
4,1972,Andrés Gimeno,6,ESP,Patrick Proisy,9,FRA,"4–6, 6–3, 6–1, 6–1",4
5,1973,Ilie Năstase,2,ROU,Nikola Pilić,0,YUG,"6–3, 6–3, 6–0",3
6,1974,Björn Borg,3,SWE,Manuel Orantes,14,ESP,"2–6, 6–7(1–7), 6–0, 6–1, 6–1",5
7,1975,Björn Borg,1,SWE,Guillermo Vilas,4,ARG,"6–2, 6–3, 6–4",3
8,1976,Adriano Panatta,8,ITA,Harold Solomon,7,USA,"6–1, 6–4, 4–6, 7–6(7–3)",4
9,1977,Guillermo Vilas,3,ARG,Brian Gottfried,5,USA,"6–0, 6–3, 6–0",3
10,1978,Björn Borg,1,SWE,Guillermo Vilas,2,ARG,"6–1, 6–1, 6–3",3
11,1979,Björn Borg,1,SWE,Víctor Pecci,0,PAR,"6–3, 6–1, 6–7(6–8), 6–4",4
12,1980,Björn Borg,1,SWE,Vitas Gerulaitis,5,USA,"6–4, 6–1, 6–2",3
13,1981,Björn Borg,1,SWE,Ivan Lendl,5,TCH,"6–1, 4–6, 6–2, 3–6, 6–1",5
14,1982,Mats Wilander,0,SWE,Guillermo Vilas,3,ARG,"1–6, 7–6(8–6), 6–0, 6–4",4
15,1983,Yannick Noah,6,FRA,Mats Wilander,5,SWE,"6–2, 7–5, 7–6(7–3)",3
16,1984,Ivan Lendl,2,TCH,John McEnroe,1,USA,"3–6, 2–6, 6–4, 7–5, 7–5",5
17,1985,Mats Wilander,4,SWE,Ivan Lendl,2,TCH,"3–6, 6–4, 6–2, 6–2",4
18,1986,Ivan Lendl,1,TCH,Mikael Pernfors,0,SWE,"6–3, 6–2, 6–4",3
19,1987,Ivan Lendl,1,TCH,Mats Wilander,4,SWE,"7–5, 6–2, 3–6, 7–6(7–3)",4
20,1988,Mats Wilander,3,SWE,Henri Leconte,1,FRA,"7–5, 6–2, 6–1",3
21,1989,Michael Chang,15,USA,Stefan Edberg,3,SWE,"6–1, 3–6, 4–6, 6–4, 6–2",5
22,1990,Andrés Gómez,4,ECU,Andre Agassi,3,USA,"6–3, 2–6, 6–4, 6–4",4
23,1991,Jim Courier,9,USA,Andre Agassi,4,USA,"3–6, 6–4, 2–6, 6–1, 6–4",5
24,1992,Jim Courier,1,USA,Petr Korda,7,TCH,"7–5, 6–2, 6–1",3
25,1993,Sergi Bruguera,10,ESP,Jim Courier,2,USA,"6–4, 2–6, 6–2, 3–6, 6–3",5
26,1994,Sergi Bruguera,6,ESP,Alberto Berasategui,0,ESP,"6–3, 7–5, 2–6, 6–1",4
27,1995,Thomas Muster,5,AUT,Michael Chang,6,USA,"7–5, 6–2, 6–4",3
28,1996,Yevgeny Kafelnikov,6,RUS,Michael Stich,15,GER,"7–6(7–4), 7–5, 7–6(7–4)",3
29,1997,Gustavo Kuerten,0,BRA,Sergi Bruguera,16,ESP,"6–3, 6–4, 6–2",3
30,1998,Carlos Moyá,12,ESP,Àlex Corretja,14,ESP,"6–3, 7–5, 6–3",3
31,1999,Andre Agassi,13,USA,Andrei Medvedev,0,UKR,"1–6, 2–6, 6–4, 6–3, 6–4",5
32,2000,Gustavo Kuerten,5,BRA,Magnus Norman,3,SWE,"6–2, 6–3, 2–6, 7–6(8–6)",4
33,2001,Gustavo Kuerten,1,BRA,Àlex Corretja,13,ESP,"6–7(3–7), 7–5, 6–2, 6–0",4
34,2002,Albert Costa,20,ESP,Juan Carlos Ferrero,11,ESP,"6–1, 6–0, 4–6, 6–3",4
35,2003,Juan Carlos Ferrero,3,ESP,Martin Verkerk,0,NED,"6–1, 6–3, 6–2",3
36,2004,Gastón Gaudio,0,ARG,Guillermo Coria,3,ARG,"0–6, 3–6, 6–4, 6–1, 8–6",5
37,2005,Rafael Nadal,4,ESP,Mariano Puerta,0,ARG,"6–7(6–8), 6–3, 6–1, 7–5",4
38,2006,Rafael Nadal,2,ESP,Roger Federer,1,SUI,"1–6, 6–1, 6–4, 7–6(7–4)",4
39,2007,Rafael Nadal,2,ESP,Roger Federer,1,SUI,"6–3, 4–6, 6–3, 6–4",4
40,2008,Rafael Nadal,2,ESP,Roger Federer,1,SUI,"6–1, 6–3, 6–0",3
41,2009,Roger Federer,2,SUI,Robin Söderling,23,SWE,"6–1, 7–6(7–1), 6–4",3
42,2010,Rafael Nadal,2,ESP,Robin Söderling,5,SWE,"6–4, 6–2, 6–4",3
43,2011,Rafael Nadal,1,ESP,Roger Federer,3,SUI,"7–5, 7–6(7–3), 5–7, 6–1",4
44,2012,Rafael Nadal,2,ESP,Novak Djokovic,1,SRB,"6–4, 6–3, 2–6, 7–5",4
45,2013,Rafael Nadal,3,ESP,David Ferrer,4,ESP,"6–3, 6–2, 6–3",3
46,2014,Rafael Nadal,1,ESP,Novak Djokovic,2,SRB,"3–6, 7–5, 6–2, 6–4",4
47,2015,Stan Wawrinka,8,SUI,Novak Djokovic,1,SRB,"4–6, 6–4, 6–3, 6–4",4
48,2016,Novak Djokovic,1,SRB,Andy Murray,2,GBR,"3–6, 6–1, 6–2, 6–4",4
49,2017,Rafael Nadal,4,ESP,Stan Wawrinka,3,SUI,"6–2, 6–3, 6–1",3
50,2018,Rafael Nadal,1,ESP,Dominic Thiem,7,AUT,"6-4, 6-3, 6-2",3
51,2019,Rafael Nadal,2,ESP,Dominic Thiem,4,AUT,"6-3, 5-7, 6-1, 6-1",4
52,2020,Rafael Nadal,2,ESP,Novak Djokovic,1,SRB,"6-0, 6-2, 7-5",3

In [35]:
rol = rol.drop('Sets', 1)
rol

,Year,Champion,Seed_Champion,Ctry_Champion,Runner-up,Seed_Runner-up,Ctry_Runner-up,Score in the Final,Sets1
0,1968,Ken Rosewall,2,AUS,Rod Laver,1,AUS,"6–3, 6–1, 2–6, 6–2","[6–3, 6–1, 2–6, 6–2]"
1,1969,Rod Laver,1,AUS,Ken Rosewall,4,AUS,"6–4, 6–3, 6–4","[6–4, 6–3, 6–4]"
2,1970,Jan Kodeš,7,TCH,Željko Franulović,5,YUG,"6–2, 6–4, 6–0","[6–2, 6–4, 6–0]"
3,1971,Jan Kodeš,1,TCH,Ilie Năstase,3,ROU,"8–6, 6–2, 2–6, 7–5","[8–6, 6–2, 2–6, 7–5]"
4,1972,Andrés Gimeno,6,ESP,Patrick Proisy,9,FRA,"4–6, 6–3, 6–1, 6–1","[4–6, 6–3, 6–1, 6–1]"
5,1973,Ilie Năstase,2,ROU,Nikola Pilić,0,YUG,"6–3, 6–3, 6–0","[6–3, 6–3, 6–0]"
6,1974,Björn Borg,3,SWE,Manuel Orantes,14,ESP,"2–6, 6–7(1–7), 6–0, 6–1, 6–1","[2–6, 6–7(1–7), 6–0, 6–1, 6–1]"
7,1975,Björn Borg,1,SWE,Guillermo Vilas,4,ARG,"6–2, 6–3, 6–4","[6–2, 6–3, 6–4]"
8,1976,Adriano Panatta,8,ITA,Harold Solomon,7,USA,"6–1, 6–4, 4–6, 7–6(7–3)","[6–1, 6–4, 4–6, 7–6(7–3)]"
9,1977,Guillermo Vilas,3,ARG,Brian Gottfried,5,USA,"6–0, 6–3, 6–0","[6–0, 6–3, 6–0]"
10,1978,Björn Borg,1,SWE,Guillermo Vilas,2,ARG,"6–1, 6–1, 6–3","[6–1, 6–1, 6–3]"
11,1979,Björn Borg,1,SWE,Víctor Pecci,0,PAR,"6–3, 6–1, 6–7(6–8), 6–4","[6–3, 6–1, 6–7(6–8), 6–4]"
12,1980,Björn Borg,1,SWE,Vitas Gerulaitis,5,USA,"6–4, 6–1, 6–2","[6–4, 6–1, 6–2]"
13,1981,Björn Borg,1,SWE,Ivan Lendl,5,TCH,"6–1, 4–6, 6–2, 3–6, 6–1","[6–1, 4–6, 6–2, 3–6, 6–1]"
14,1982,Mats Wilander,0,SWE,Guillermo Vilas,3,ARG,"1–6, 7–6(8–6), 6–0, 6–4","[1–6, 7–6(8–6), 6–0, 6–4]"
15,1983,Yannick Noah,6,FRA,Mats Wilander,5,SWE,"6–2, 7–5, 7–6(7–3)","[6–2, 7–5, 7–6(7–3)]"
16,1984,Ivan Lendl,2,TCH,John McEnroe,1,USA,"3–6, 2–6, 6–4, 7–5, 7–5","[3–6, 2–6, 6–4, 7–5, 7–5]"
17,1985,Mats Wilander,4,SWE,Ivan Lendl,2,TCH,"3–6, 6–4, 6–2, 6–2","[3–6, 6–4, 6–2, 6–2]"
18,1986,Ivan Lendl,1,TCH,Mikael Pernfors,0,SWE,"6–3, 6–2, 6–4","[6–3, 6–2, 6–4]"
19,1987,Ivan Lendl,1,TCH,Mats Wilander,4,SWE,"7–5, 6–2, 3–6, 7–6(7–3)","[7–5, 6–2, 3–6, 7–6(7–3)]"
20,1988,Mats Wilander,3,SWE,Henri Leconte,1,FRA,"7–5, 6–2, 6–1","[7–5, 6–2, 6–1]"
21,1989,Michael Chang,15,USA,Stefan Edberg,3,SWE,"6–1, 3–6, 4–6, 6–4, 6–2","[6–1, 3–6, 4–6, 6–4, 6–2]"
22,1990,Andrés Gómez,4,ECU,Andre Agassi,3,USA,"6–3, 2–6, 6–4, 6–4","[6–3, 2–6, 6–4, 6–4]"
23,1991,Jim Courier,9,USA,Andre Agassi,4,USA,"3–6, 6–4, 2–6, 6–1, 6–4","[3–6, 6–4, 2–6, 6–1, 6–4]"
24,1992,Jim Courier,1,USA,Petr Korda,7,TCH,"7–5, 6–2, 6–1","[7–5, 6–2, 6–1]"
25,1993,Sergi Bruguera,10,ESP,Jim Courier,2,USA,"6–4, 2–6, 6–2, 3–6, 6–3","[6–4, 2–6, 6–2, 3–6, 6–3]"
26,1994,Sergi Bruguera,6,ESP,Alberto Berasategui,0,ESP,"6–3, 7–5, 2–6, 6–1","[6–3, 7–5, 2–6, 6–1]"
27,1995,Thomas Muster,5,AUT,Michael Chang,6,USA,"7–5, 6–2, 6–4","[7–5, 6–2, 6–4]"
28,1996,Yevgeny Kafelnikov,6,RUS,Michael Stich,15,GER,"7–6(7–4), 7–5, 7–6(7–4)","[7–6(7–4), 7–5, 7–6(7–4)]"
29,1997,Gustavo Kuerten,0,BRA,Sergi Bruguera,16,ESP,"6–3, 6–4, 6–2","[6–3, 6–4, 6–2]"
30,1998,Carlos Moyá,12,ESP,Àlex Corretja,14,ESP,"6–3, 7–5, 6–3","[6–3, 7–5, 6–3]"
31,1999,Andre Agassi,13,USA,Andrei Medvedev,0,UKR,"1–6, 2–6, 6–4, 6–3, 6–4","[1–6, 2–6, 6–4, 6–3, 6–4]"
32,2000,Gustavo Kuerten,5,BRA,Magnus Norman,3,SWE,"6–2, 6–3, 2–6, 7–6(8–6)","[6–2, 6–3, 2–6, 7–6(8–6)]"
33,2001,Gustavo Kuerten,1,BRA,Àlex Corretja,13,ESP,"6–7(3–7), 7–5, 6–2, 6–0","[6–7(3–7), 7–5, 6–2, 6–0]"
34,2002,Albert Costa,20,ESP,Juan Carlos Ferrero,11,ESP,"6–1, 6–0, 4–6, 6–3","[6–1, 6–0, 4–6, 6–3]"
35,2003,Juan Carlos Ferrero,3,ESP,Martin Verkerk,0,NED,"6–1, 6–3, 6–2","[6–1, 6–3, 6–2]"
36,2004,Gastón Gaudio,0,ARG,Guillermo Coria,3,ARG,"0–6, 3–6, 6–4, 6–1, 8–6","[0–6, 3–6, 6–4, 6–1, 8–6]"
37,2005,Rafael Nadal,4,ESP,Mariano Puerta,0,ARG,"6–7(6–8), 6–3, 6–1, 7–5","[6–7(6–8), 6–3, 6–1, 7–5]"
38,2006,Rafael Nadal,2,ESP,Roger Federer,1,SUI,"1–6, 6–1, 6–4, 7–6(7–4)","[1–6, 6–1, 6–4, 7–6(7–4)]"
39,2007,Rafael Nadal,2,ESP,Roger Federer,1,SUI,"6–3, 4–6, 6–3, 6–4","[6–3, 4–6, 6–3, 6–4]"
40,2008,Rafael Nadal,2,ESP,Roger Federer,1,SUI,"6–1, 6–3, 6–0","[6–1, 6–3, 6–0]"
41,2009,Roger Federer,2,SUI,Robin Söderling,23,SWE,"6–1, 7–6(7–1), 6–4","[6–1, 7–6(7–1), 6–4]"
42,2010,Rafael Nadal,2,ESP,Robin Söderling,5,SWE,"6–4, 6–2, 6–4","[6–4, 6–2, 6–4]"
43,2011,Rafael Nadal,1,ESP,Roger Federer,3,SUI,"7–5, 7–6(7–3), 5–7, 6–1","[7–5, 7–6(7–3), 5–7, 6–1]"
44,2012,Rafael Nadal,2,ESP,Novak Djokovic,1,SRB,"6–4, 6–3, 2–6, 7–5","[6–4, 6–3, 2–6, 7–5]"
45,2013,Rafael Nadal,3,ESP,David Ferrer,4,ESP,"6–3, 6–2, 6–3","[6–3, 6–2, 6–3]"
46,2014,Rafael Nadal,1,ESP,Novak Djokovic,2,SRB,"3–6, 7–5, 6–2, 6–4","[3–6, 7–5, 6–2, 6–4]"
47,2015,Stan Wawrinka,8,SUI,Novak Djokovic,1,SRB,"4–6, 6–4, 6–3, 6–4","[4–6, 6–4, 6–3, 6–4]"
48,2016,Novak Djokovic,1,SRB,Andy Murray,2,GBR,"3–6, 6–1, 6–2, 6–4","[3–6, 6–1, 6–2, 6–4]"
49,2017,Rafael Nadal,4,ESP,Stan Wawrinka,3,SUI,"6–2, 6–3, 6–1","[6–2, 6–3, 6–1]"
50,2018,Rafael Nadal,1,ESP,Dominic Thiem,7,AUT,"6-4, 6-3, 6-2","[6-4, 6-3, 6-2]"
51,2019,Rafael Nadal,2,ESP,Dominic Thiem,4,AUT,"6-3, 5-7, 6-1, 6-1","[6-3, 5-7, 6-1, 6-1]"
52,2020,Rafael Nadal,2,ESP,Novak Djokovic,1,SRB,"6-0, 6-2, 7-5","[6-0, 6-2, 7-5]"

In [34]:
rol.drop('Sets')

KeyError: "['Sets'] not found in axis"

In [ ]:
rol['Sets'] = rol['']

In [18]:
df1 = df.applymap((lambda x: "".join(x.split()) if type(x) is str else x ))
pr = df1.groupby('Ctry_Champion')['Ctry_Champion'].count()

In [ ]:
df['Sets']

In [17]:
df

,Year,Champion,Seed_Champion,Ctry_Champion,Runner-up,Seed_Runner-up,Ctry_Runner-up,Score in the Final
0,1968,KenRosewall,2,AUS,RodLaver,1,AUS,"6–3,6–1,2–6,6–2"
1,1969,RodLaver,1,AUS,KenRosewall,4,AUS,"6–4,6–3,6–4"
2,1970,JanKodeš,7,TCH,ŽeljkoFranulović,5,YUG,"6–2,6–4,6–0"
3,1971,JanKodeš,1,TCH,IlieNăstase,3,ROU,"8–6,6–2,2–6,7–5"
4,1972,AndrésGimeno,6,ESP,PatrickProisy,9,FRA,"4–6,6–3,6–1,6–1"
5,1973,IlieNăstase,2,ROU,NikolaPilić,0,YUG,"6–3,6–3,6–0"
6,1974,BjörnBorg,3,SWE,ManuelOrantes,14,ESP,"2–6,6–7(1–7),6–0,6–1,6–1"
7,1975,BjörnBorg,1,SWE,GuillermoVilas,4,ARG,"6–2,6–3,6–4"
8,1976,AdrianoPanatta,8,ITA,HaroldSolomon,7,USA,"6–1,6–4,4–6,7–6(7–3)"
9,1977,GuillermoVilas,3,ARG,BrianGottfried,5,USA,"6–0,6–3,6–0"
10,1978,BjörnBorg,1,SWE,GuillermoVilas,2,ARG,"6–1,6–1,6–3"
11,1979,BjörnBorg,1,SWE,VíctorPecci,0,PAR,"6–3,6–1,6–7(6–8),6–4"
12,1980,BjörnBorg,1,SWE,VitasGerulaitis,5,USA,"6–4,6–1,6–2"
13,1981,BjörnBorg,1,SWE,IvanLendl,5,TCH,"6–1,4–6,6–2,3–6,6–1"
14,1982,MatsWilander,0,SWE,GuillermoVilas,3,ARG,"1–6,7–6(8–6),6–0,6–4"
15,1983,YannickNoah,6,FRA,MatsWilander,5,SWE,"6–2,7–5,7–6(7–3)"
16,1984,IvanLendl,2,TCH,JohnMcEnroe,1,USA,"3–6,2–6,6–4,7–5,7–5"
17,1985,MatsWilander,4,SWE,IvanLendl,2,TCH,"3–6,6–4,6–2,6–2"
18,1986,IvanLendl,1,TCH,MikaelPernfors,0,SWE,"6–3,6–2,6–4"
19,1987,IvanLendl,1,TCH,MatsWilander,4,SWE,"7–5,6–2,3–6,7–6(7–3)"
20,1988,MatsWilander,3,SWE,HenriLeconte,1,FRA,"7–5,6–2,6–1"
21,1989,MichaelChang,15,USA,StefanEdberg,3,SWE,"6–1,3–6,4–6,6–4,6–2"
22,1990,AndrésGómez,4,ECU,AndreAgassi,3,USA,"6–3,2–6,6–4,6–4"
23,1991,JimCourier,9,USA,AndreAgassi,4,USA,"3–6,6–4,2–6,6–1,6–4"
24,1992,JimCourier,1,USA,PetrKorda,7,TCH,"7–5,6–2,6–1"
25,1993,SergiBruguera,10,ESP,JimCourier,2,USA,"6–4,2–6,6–2,3–6,6–3"
26,1994,SergiBruguera,6,ESP,AlbertoBerasategui,0,ESP,"6–3,7–5,2–6,6–1"
27,1995,ThomasMuster,5,AUT,MichaelChang,6,USA,"7–5,6–2,6–4"
28,1996,YevgenyKafelnikov,6,RUS,MichaelStich,15,GER,"7–6(7–4),7–5,7–6(7–4)"
29,1997,GustavoKuerten,0,BRA,SergiBruguera,16,ESP,"6–3,6–4,6–2"
30,1998,CarlosMoyá,12,ESP,ÀlexCorretja,14,ESP,"6–3,7–5,6–3"
31,1999,AndreAgassi,13,USA,AndreiMedvedev,0,UKR,"1–6,2–6,6–4,6–3,6–4"
32,2000,GustavoKuerten,5,BRA,MagnusNorman,3,SWE,"6–2,6–3,2–6,7–6(8–6)"
33,2001,GustavoKuerten,1,BRA,ÀlexCorretja,13,ESP,"6–7(3–7),7–5,6–2,6–0"
34,2002,AlbertCosta,20,ESP,JuanCarlosFerrero,11,ESP,"6–1,6–0,4–6,6–3"
35,2003,JuanCarlosFerrero,3,ESP,MartinVerkerk,0,NED,"6–1,6–3,6–2"
36,2004,GastónGaudio,0,ARG,GuillermoCoria,3,ARG,"0–6,3–6,6–4,6–1,8–6"
37,2005,RafaelNadal,4,ESP,MarianoPuerta,0,ARG,"6–7(6–8),6–3,6–1,7–5"
38,2006,RafaelNadal,2,ESP,RogerFederer,1,SUI,"1–6,6–1,6–4,7–6(7–4)"
39,2007,RafaelNadal,2,ESP,RogerFederer,1,SUI,"6–3,4–6,6–3,6–4"
40,2008,RafaelNadal,2,ESP,RogerFederer,1,SUI,"6–1,6–3,6–0"
41,2009,RogerFederer,2,SUI,RobinSöderling,23,SWE,"6–1,7–6(7–1),6–4"
42,2010,RafaelNadal,2,ESP,RobinSöderling,5,SWE,"6–4,6–2,6–4"
43,2011,RafaelNadal,1,ESP,RogerFederer,3,SUI,"7–5,7–6(7–3),5–7,6–1"
44,2012,RafaelNadal,2,ESP,NovakDjokovic,1,SRB,"6–4,6–3,2–6,7–5"
45,2013,RafaelNadal,3,ESP,DavidFerrer,4,ESP,"6–3,6–2,6–3"
46,2014,RafaelNadal,1,ESP,NovakDjokovic,2,SRB,"3–6,7–5,6–2,6–4"
47,2015,StanWawrinka,8,SUI,NovakDjokovic,1,SRB,"4–6,6–4,6–3,6–4"
48,2016,NovakDjokovic,1,SRB,AndyMurray,2,GBR,"3–6,6–1,6–2,6–4"
49,2017,RafaelNadal,4,ESP,StanWawrinka,3,SUI,"6–2,6–3,6–1"
50,2018,RafaelNadal,1,ESP,DominicThiem,7,AUT,"6-4,6-3,6-2"
51,2019,RafaelNadal,2,ESP,DominicThiem,4,AUT,"6-3,5-7,6-1,6-1"
52,2020,RafaelNadal,2,ESP,NovakDjokovic,1,SRB,"6-0,6-2,7-5"

In [ ]:
df